/*  your css code here. If applicable */
#animal-photos{
	background-color:gray;
}
#photo-heading{
	color:white;
	padding:10px;
	margin:10px;
	align-content:center;
}
img{
    padding:8px;
	margin:8px;
	border-radius:5px;
}